.footer-section {
  background-color: var(--footer-color);
  color: var(--black-color);
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.logo-container {
  text-align: center;
}

.links, .contact-info, .social-media {
  text-align: center;
  flex: 1;
}

.links ul, .social-media ul {
  list-style: none;
  padding: 0;
}

.links button, .social-media a, .contact-info a {
  text-decoration: none;
  color: var(--black-color);
  transition: color 0.3s;
}

.links button {
  border: none;
  background-color: var(--footer-color);
  cursor: pointer;
}

.links button:hover, .social-media a:hover {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .links, .contact-info, .social-media {
    text-align: center;
    flex: none;
  }
}

@media (max-width: 600px) {
  .footer-content {
    padding: 0 1rem;
  }

  .links, .contact-info, .social-media {
    flex-basis: 100%;
  }
}
