.hero-section {
  background-color: var(--primary-color);
  padding: 5rem;
  padding-top: 0;
  max-height: 15rem;
}

.hero-content {
  display: flex;
  justify-content: center;
}

.hero-text {
  color: white;
  font-size: 1rem;
  text-align: left;
  margin-right: 10rem;
  max-width: 25rem;
  margin-top: 0;
}

.hero-text h1 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.hero-button {
  text-align: right;
}

.hero-button button {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 16px;
  text-decoration: none;
  border: var(--black-color) solid 1px;
  cursor: pointer;
  color: var(--black-color);
  font-weight: bold;
  transition: transform 0.3s;
}

.hero-button button:hover {
  transform: scale(1.1);
}


.hero-image {
  max-width: 15rem;
  height: auto;
  overflow: hidden;
  margin-top: 1rem;
}

.hero-image img {
  width: 100%;
  border-radius: 16px;
}



@media (max-width: 600px) {
  .hero-section {
    flex-direction: row;
    align-items: center;
  }

  .hero-content {
    justify-content: space-between;
  }

  .hero-text {
    margin-right: 0;
    max-width: 100%;
  }

  .hero-text h1 {
    margin-top: 0;
    margin-left: 0;
    font-size: 0.5rem;
  }

  .hero-text h3 {
    margin-top: 0;
    font-size: 0.5rem;
  }

  .hero-text p {
    margin-top: 0;
    font-size: 0.5rem;
  }

  .hero-button button {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem;
  }

  .hero-image img {
    display: none;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-button {
    margin-top: 0;
  }
}
