/* src/components/Navbar.css */

.navbar {
  background-color: white;
  padding: 1rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the unordered list in the navbar */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Style for list items */
nav li {
  margin: 0 15px;
}

/* Style for anchor links */
nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s, text-decoration 0.3s;
}

/* Change on hover */
nav a:hover {
  text-decoration: underline; /* Add underline effect on hover */
}

.App-logo {
  height: 2.5rem;
  pointer-events: none; /* Prevent pointer events on the logo */
}

/* Responsive styles */
@media (max-width: 768px) {
  nav {
    margin-right: 1rem; /* Reduce margin on smaller screens */
    margin-left: 1rem; /* Reduce margin on smaller screens */
  }

  .nav-links {
    display: none; /* Hide menu by default */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    width: 100%; /* Full width on mobile */
  }

  .nav-links.active {
    display: flex; /* Show menu when active */
  }

  nav ul {
    flex-direction: column; /* Stack items vertically */
  }

  nav li {
    margin: 10px 0; /* Add margin between items in the vertical list */
  }

  .menu-icon {
    display: block; /* Show the menu icon on mobile */
    cursor: pointer; /* Change cursor to pointer */
  }
}

@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide the menu icon on larger screens */
  }
}
