.order-online-section {
  text-align: center;
  padding: 2rem;
}

.menu-cards {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
}

.dishes-container {
  display: flex;
  flex-direction: column;
}

.dish-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 96%;
  height: 5rem;
  margin-bottom: 1rem;
}

.dish-card h2 {
  font-size: 1.5rem;
  text-align: left;
}

.dish-card p {
  align-items: baseline;
  font-size: 1rem;
  text-align: left;
}

.dish-card button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0.5rem 1rem;
  align-items: left;
}

.dish-card button:hover {
  transform: scale(1.1);
}

.cart {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px; /* Distance from the top of the viewport */
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 16px;
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Limit maximum width on larger screens */
  min-height: 200px;
  max-height: fit-content;
  transition: max-height 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
  margin: 1rem auto; /* Center the cart with auto margins */
}

.cart button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.total {
  margin-top: 1rem;
  border-top: var(--black-color) 1px solid;
  font-size: 1.2rem;
  font-weight: bold;
}

.total button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .menu-cards {
    flex-direction: row; /* Align items in a row on larger screens */
    justify-content: space-between; /* Space between cards */
    align-items: flex-start; /* Align cards to the top */
  }

  .cart {
    width: 20%; /* Set cart width on larger screens */
    margin: 1rem; /* Add margin */
  }
}

@media (max-width: 600px) {
  .dish-card {
    flex-direction: column;
    align-items: flex-start;
    max-height: fit-content;
    height: auto;
  }

  .dish-card h2 {
    font-size: 1.2rem;
  }

  .dish-card p {
    font-size: 0.9rem;
  }

  .total {
    font-size: 1rem;
  }
}
