.testimonials-section {
  text-align: center;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.testimonial-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 16px;
  max-width: 25rem;
  margin-bottom: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.testimonials-info {
  display: flex;
  justify-content: center;
}
