* {
  --primary-color: #495E57;
  --secondary-color: #f4ce14;
  --card-color: #EDEFEE ;
  --black-color: #333333;
  --price-color: #EE9972;
  --footer-color: #FBDABB;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
